@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

* {
	font-family: "Montserrat", sans-serif;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 20px 50px 20px;
}

.App {
	border: 5px solid #2b2b2b;
	border-radius: 25px;
}

.sequencer {
	display: flex;
	flex-direction: column;
}

.sequencer-header {
	display: flex;
	align-items: stretch;
	border-bottom: 2px solid #2b2b2b;
}

.sequencer-header-status {
	flex-grow: 2;
	padding-left: 15px;
	border-top-left-radius: 20px;
	background: #0a70a8;
	color: #fff;
}

.sequencer-task {
	flex-grow: 1;
}

.sequencer-task button {
	height: 100%;
	width: 100%;
	border-left: 2px solid #2b2b2b;
	border-top-right-radius: 20px;
	font-size: 20px;
	font-weight: 500;
	background-image: url(/icon-audio.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.sequencer-tracks {
	display: flex;
	border-bottom: 2px solid #2b2b2b;
}

.sequencer-tracknames {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 5px 10px 5px 15px;
	border-right: 1px solid #2b2b2b;
	background: #0a70a8;
	color: #fff;
}

.sequencer-tracknames h2 {
	padding-right: 35px;
}

.sequencer-tracknotes {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	box-shadow: inset 0 0 3px 1px #000;
	padding-right: 5px;
	padding-left: 7px;
	padding-bottom: 3px;
	padding-top: 3px;
	background: #dbdbdb;
}

#sequencer-tracknotes-playhead {
	position: absolute;
	opacity: 0.7;
	width: 5px;
	height: 100%;
	background: #ff2e2b;
	z-index: 1;
}

.track {
	display: flex;
}

.note {
	width: 60px;
	height: 60px;
	margin: 5px 5px;
	border-radius: 7px;
	box-shadow: 1px 1px 1px 1px #000;
	background-image: linear-gradient(45deg, #16b6f7, #339fcc);
}

.note-pushed {
	width: 60px;
	height: 60px;
	margin: 5px 5px;
	border-radius: 7px;
	box-shadow: 1px 1px 1px 1px #000;
	background-image: linear-gradient(45deg, #ffbe75, #ff8905);
}

.sequencer-buttons {
	display: flex;
	justify-content: center;
	padding: 15px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background: #0a70a8;
}

.sequencer-buttons button {
	padding: 15px 25px;
	margin: 0 10px 0 10px;
	font-size: 20px;
	font-weight: 500;
	background: #dbdbdb;
	min-width: 150px;
}
