#root {
	background: #90f9ea;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 20px 50px 20px;
}

.sequencer {
	display: flex;
	flex-direction: column;
}

.sequencer-header {
	display: flex;
	align-items: stretch;
}

.sequencer-header-status {
	flex-grow: 2;
	background: #f74a5e;
}

.sequencer-task {
	flex-grow: 1;
}

.sequencer-task button {
	height: 100%;
	width: 100%;
}

.sequencer-tracks {
	display: flex;
}

.sequencer-tracknames {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #b6c926;
}

.sequencer-tracknames h2 {
	margin: 18px 10px;
	border: 2px solid #000;
}

.sequencer-tracknotes {
	display: flex;
	flex-direction: column;
	padding: 5px;
	background: #d82bc1;
}

.track {
	display: flex;
}

.note {
	width: 60px;
	height: 60px;
	margin: 5px;
	background: #36d82b;
}

.sequencer-buttons {
	display: flex;
	justify-content: center;
	padding: 5px;
	background: #2a40ba;
}

.sequencer-buttons button {
	padding: 10px;
	margin: 0 10px 0 10px;
}
